* {
	box-sizing: border-box;
}

header {
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
}

section {
	background-color: gray;
	border: 1px;
	border-color: black;
	border-style: solid;
	margin-left: 10px;
}

.section-title {
	float: right;
	width: 10%;
	border: 1px;
	border-color: black;
	border-style: solid;
}

.section-descr {
	clear: right;
}

.col-lg-4 {
	width: 30%;
	float: left;
}

#section1 > .section-title {
	background-color: #D59898;
}

#section2 > .section-title{
	background-color: #C14543;
}

#section3 > .section-title {
	background-color: #E5D198;
}

/* Tablet style */
@media (min-width:  768px and max-width: 991px) {

}

/* Desktop style */
@media (min-width: 992px) {

}